@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/montserrat-alternatives/Montserrat-Medium.ttf") format("truetype");
  }
}
